:root {
  box-sizing: border-box;
  background-color: #f4f2ee;
}
:root .loader {
  width: 60px;
  aspect-ratio: 1;
  border: 15px solid #ddd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
:root .loader::before {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 50%;
  border: 15px solid #059669;
  animation: l18 2s infinite linear;
}
@keyframes l18 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
:root .main-div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: system-ui;
  
}
:root .mainTitle {
    font-size: 30px;
    font-weight: 500;
  font-family: "Edu NSW ACT Cursive", cursive;
  margin-bottom: 30px;
  background: linear-gradient(to right, #f7a11a, #f75c1e, #e1683f, #de6042, #d9524c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
:root .item {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 48px;
padding: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  height: 330px;
  transition: all 0.3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}
:root .item:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
:root .item:hover .api-img {
  animation: rotate-clockwise 0.6s ease-in-out both;
}
:root .item:not(:hover) .api-img {
  animation: rotate-counterclockwise 0.6s ease-in-out both;
}



:root .item h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
:root .item p {
  color: #059669;
}
:root .item .palnet {
  color: #059669;
}
:root .item .main-details {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}
:root .item button {
  border: none;
  border-radius: 50px;
  background-color: #21ba75;
  color: white;
  width: 140px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;

  
}
:root .item button:hover {
  background-color: #059669;
}
:root .api-img {
  width: 70%;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s;
  transform: translateY(-30%);
  filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.5));
  margin: auto; 
}
@keyframes rotate-clockwise {
  0% {
    transform: translateY(-30%) rotate(0);
  }
  100% {
    transform: translateY(-30%) rotate(360deg);
  }
}
@keyframes rotate-counterclockwise {
  0% {
    transform: translateY(-30%) rotate(360deg);
  }
  100% {
    transform: translateY(-30%) rotate(0);
  }
}
@media (min-width: 1024px) {
  :root .item {
    width: calc(25% - 20px);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  :root .item {
    width: calc(33.33% - 20px);
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  :root .item {
    width: calc(50% - 20px);
    height: auto;
  }
}
@media (max-width: 639px) {
  :root .item {
    width: calc(100% - 20px);
    height: auto;
    margin-bottom: 48px;
    padding-bottom: 48px;
    margin-top: 48px;
    padding-top: 48px;
  }
}